body {
 font-family: Arial, sans-serif;
 background-color: #f0f0f0;
}
body{
 padding-top: 100px;
 /* background-color:black; */
}
.container {
 max-width: 400px;
 margin: 0 auto;
 padding: 20px;
 background-color:rgb(131, 95, 228);
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 text-align: center;
 height: 300px;
}

h1 {
 margin-bottom: 20px;
 color: #fff;
}

input[type="number"] {
 padding: 8px;
 margin-bottom: 10px;
}

button {
 padding: 10px 20px;
 margin: 5px;
 background-color: #3498db;
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

button:hover {
 background-color: #2980b9;
}

.message {
 margin-top: 20px;
 font-weight: bold;
}

.attempts {
 margin-top: 10px;
 font-size: 0.9rem;
}


 .win-animation {
  animation: winner 0.5s infinite alternate;
  font-weight: 700;
}

@keyframes winner {
  0% {
    color: green;
    transform: scale(2) rotate(0deg);
  }
  100% {
    color: red;
    transform: scale(1.1) rotate(0deg);
  }
}
